{# vim: ft=htmljinja
#}
{% extends 'KekRozsakFrontBundle:Default:main_template.html.twig' %}
{% block title %} - Fórum - {{ topicGroup.title }} - {{ topic.title }}{% endblock %}
{% block content %}
<h3>
{% if app.user.userData and app.user.userData.isFavouriteForumTopic(topic) %}
    <span class="unfavourite-topic-button topicgroup-{{ topicGroup.slug }}" id="unfavourite-topic-button-{{ topic.slug }}"><img src="{{ asset('bundles/kekrozsakfront/images/penta-yellow-24.png') }}" alt="[Kedvenc]" /></span>
{% else %}
    <span class="favourite-topic-button topicgroup-{{ topicGroup.slug }}" id="favourite-topic-button-{{ topic.slug }}"><img src="{{ asset('bundles/kekrozsakfront/images/penta-blue-24.png') }}" alt="[Nem kedvenc]" /></span>
{% endif %}
    <a href="{{ path('KekRozsakFrontBundle_forumTopicGroupList') }}">Fórum</a> -
    <a href="{{ path('KekRozsakFrontBundle_forumTopicList', {slug: topicGroup.slug}) }}">{{ topicGroup.title }}</a> -
    {{ topic.title }}
</h3>
<table class="post-lista">
    <tbody>
        <tr>
            <td class="uj-post">
                <form method="post" action="{{ path('KekRozsakFrontBundle_forumPostList', { topicGroupSlug: topicGroup.slug, topicSlug: topic.slug } ) }}">
                    {{ form_widget(form) }}
                    <p>
                        <span class="eszkoztar">Súgó</span><span class="kuldes-gomb" /><button type="submit">Küldés</button>
                    </p>
                </form>
            </td>
            <td class="felado">
                <br />
                <br />
                [avatar]<br />
                {{ app.user.displayName }}<br />
                Saját szint<br />
                <br />
                Tagság kezdete:<br />
                {{ app.user.registeredAt|date('Y-m-d') }}
            </td>
        </tr>
{% for post in posts %}
        <tr>
            <td class="datum">
                {{ post.createdAt|date('Y-m-d') }}
                {{ post.createdAt|date('H:i') }}
            </td>
            <td class="felado" rowspan="2">
                [avatar]<br />
                {{ post.createdBy|userdataspan }}<br />
                Szint<br />
                <br />
                Tagság kezdete:<br />
                {{ post.createdBy.RegisteredAt|date('Y-m-d') }}
            </td>
        </tr>
        <tr>
            <td class="szoveg"><div>{{ post.text|bbdecode }}</div></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
