{% extends '::main_template.html.twig' %}
{% block title %} - Fórum - {{ topicGroup.title }} - {{ topic.title }}{% endblock %}
{% block content %}
<h3><a href="{{ path('KekRozsakFrontBundle_forum_main') }}">Fórum</a> - <a href="{{ path('KekRozsakFrontBundle_forum_topic_list', { topicGroupSlug: topicGroup.slug }) }}">{{ topicGroup.title }}</a> - {{ topic.title }}</h3>
{% if topic.posts|length > 0 %}
<table class="post-lista">
	<tbody>
{% for post in topic.posts %}
		<tr>
			<td class="szoveg"><div>{{ post.text|raw }}</div></td>
			<td class="felado">
				{{ post.createdBy.displayName }}<br />
				{{ post.createdAt|date('Y-m-d H:i') }}<br />
				Szint<br />
				Tagság kezdete: {{ post.createdBy.RegisteredAt|date('Y-m-d') }}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% else %}
A témában még nincsenek hozzászólások.
{% endif %}
{% endblock %}
