{# vim: ft=htmljinja
#}
{% extends '::main_template.html.twig' %}
{% block title %} - Fórum - {{ topicGroup.title }} - {{ topic.title }}{% endblock %}
{% block content %}
<h3><a href="{{ path('KekRozsakFrontBundle_forum_main') }}">Fórum</a> - <a href="{{ path('KekRozsakFrontBundle_forum_topic_list', {slug: topicGroup.slug}) }}">{{ topicGroup.title }}</a> - {{ topic.title }}</h3>
<table class="post-lista">
	<tbody>
		<tr>
			<td class="uj-post">
				<form method="post" action="{{ path('KekRozsakFrontBundle_forum_post_list', { topicGroupSlug: topicGroup.slug, topicSlug: topic.slug } ) }}">
					{{ form_widget(form) }}
					<p>
						<span class="eszkoztar">Súgó</span><span class="kuldes-gomb" /><button type="submit">Küldés</button>
					</p>
				</form>
			</td>
			<td class="felado">
				<br />
				<br />
				[avatar]<br />
				{{ app.user.displayName }}<br />
				Saját szint<br />
				<br />
				Tagság kezdete:<br />
				{{ app.user.registeredAt|date('Y-m-d') }}
			</td>
		</tr>
{% for post in posts %}
		<tr>
			<td class="szoveg"><div>{{ post.text|bbdecode }}</div></td>
			<td class="felado">
				{{ post.createdAt|date('Y-m-d') }}<br />
				{{ post.createdAt|date('H:i') }}<br />
				[avatar]<br />
				{{ post.createdBy.displayName }}<br />
				Szint<br />
				<br />
				Tagság kezdete:<br />
				{{ post.createdBy.RegisteredAt|date('Y-m-d') }}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
