{% extends '::main_template.html.twig' %}
{% block title %} - Fórum - {{ topicGroup.title }}{% endblock %}
{% block content %}
<h3><a href="{{ path('KekRozsakFrontBundle_forum_main') }}">Fórum</a> - {{ topicGroup.title }}</h3>
{% if topicGroup.topics|length > 0 %}
<table class="forum-lista">
	<thead>
		<tr>
			<td></td>
			<td>Hozzászólások száma</td>
			<td>Utolsó hozzászólás</td>
		</tr>
	</thead>
	<tbody>
{% for topic in topicGroup.topics %}
		<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
			<td><a href="{{ path('KekRozsakFrontBundle_forum_post_list', { topicGroupSlug: topicGroup.slug, topicSlug: topic.slug }) }}">{{ topic.title }}</a></td>
			<td></td>
			<td>
				{{ topic.lastPost.createdBy.displayName }}<br />
				{{ topic.lastPost.createdAt|date('Y-m-d H:i') }}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% else %}
Ebben a témakörben nincsenek témák.
{% endif %}
{% endblock content %}
