{# vim: ft=htmljinja
#}
{% extends 'KekRozsakFrontBundle:Default:main_template.html.twig' %}
{% form_theme newTopicForm 'KekRozsakFrontBundle:Form:user_form.html.twig' %}

{% block title %} - Fórum - {{ topicGroup.title }}{% endblock %}

{% block content %}
<h3><a href="{{ path('KekRozsakFrontBundle_forumTopicGroupList') }}">Fórum</a> - {{ topicGroup.title }}</h3>
<span class="gomb" id="new-topic-button">[Új téma]</span><br />
<form method="post" action="{{ path('KekRozsakFrontBundle_forumTopicList', { slug: topicGroup.slug }) }}">
    <table>
        {{ form_widget(newTopicForm) }}
    </table>
        <button type="submit">Mentés</button>
</form>
{% if topicGroup.topics|length > 0 %}
<table class="forum-lista">
    <thead>
        <tr>
            <td></td>
            <td>Hozzászólások száma</td>
            <td>Utolsó hozzászólás</td>
        </tr>
    </thead>
    <tbody>
{% for topic in topicGroup.topics %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td><a href="{{ path('KekRozsakFrontBundle_forumPostList', { topicGroupSlug: topicGroup.slug, topicSlug: topic.slug }) }}">{{ topic.title }}</a></td>
            <td></td>
            <td>
{% if topic.lastPost %}
                {{ topic.lastPost.createdBy|userdataspan }}<br />
                {{ topic.lastPost.createdAt|date('Y-m-d H:i') }}
{% else %}
                &nbsp;<br />&nbsp;
{% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
Ebben a témakörben nincsenek témák.
{% endif %}
{% endblock content %}
