<!DOCTYPE html>
<html>
	<head>
		<title>Kék Rózsák{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/kekrozsak_front.css') }}" />
	</head>
	<body>
		<div id="wrapper">
			<div id="menu">
				<ul>
					<li><a href="{{ path('KekRozsakFrontBundle_homepage') }}">Főoldal - Aktuális</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'rolunk' }) }}">Rólunk</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_forum_main') }}">Fórum</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'a-magiarol-roviden' }) }}">A Mágiáról röviden</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'rendek' }) }}">Rendek</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'a-regiek' }) }}">A régiek</a></li>
{% if app.user %}
					<li><a href="{{ path('KekRozsakSecurityBundle_logout') }}">Kijelentkezés</a></li>
{% else %}
					<li><a href="{{ path('KekRozsakSecurityBundle_registration') }}">Jelentkezés</a></li>
{% endif %}
				</ul>
			</div>
			<div id="header">
				<h1><a href="{{ path('KekRozsakFrontBundle_homepage') }}"><img src="{{ asset('images/kek_rozsak_felirat.jpg') }}" alt="Kék Rózsák" /></a></h1>
				<h2><img src="{{ asset('images/okkultista_kor_felirat.jpg') }}" alt="A Kék Rózsa okkultista kör honlapja" /></h2>
			</div>
			<div id="content-wrapper">
				<div id="content-outline">
					<div id="content">
{% block content %}{% endblock %}
					</div>
				</div>
				<div id="hirek">
					<h3>Hírek</h3>
{% for news in recentNews %}
					<div class="hir">
						<p class="hir-cim">{{ news.title }}</p>
						<p class="hir-szoveg">{{ news.text|raw }}</p>
						<p class="hir-szerzo">{{ news.createdBy.displayName }}</p>
						<p class="hir-datum">{{ news.createdAt|date('Y-m-d H:i') }}</p>
					</div>
{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>

