<!DOCTYPE html>
<html>
	<head>
		<title>Kék Rózsák{% block title %}{% endblock %}</title>
		<meta charset="utf8" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/kekrozsak_front.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.tooltip.css') }}" />
{% block additional_css %}{% endblock %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.bgiframe.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.dimensions.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tooltip.min.js') }}"></script>
{% block additional_js %}{% endblock %}
	</head>
	<body>
		<div id="top-line-wrapper">
			<div id="top-line">
{% if app.user %}
				<div id="profil-gomb">
					<span id="profil-mutato">[avatar] {{ app.user.displayName }}</span>
					<div id="profil-box">
						<div id="profil-belso">
							[avatar]
							{{ app.user.displayName }}<br />
							Jogosultság<br />
							<dl>
								<dt>Csoportjaim</dt>
{% for group in app.user.groups %}
{% if group.group.open or group.membershipAcceptedAt %}
								<dl><a href="{{ path('KekRozsakFrontBundle_groupView', {groupSlug: group.group.slug}) }}">{{ group.group.name }}</a></dl>
{% endif %}
{% endfor %}
								<dl><a href="{{ path('KekRozsakFrontBundle_groupList') }}">További csoportok</a></dl>

								<dt>Kedvenc Fórum-témáim</dt>

								<dt>Üzenetek</dt>
							</dl>
						</div>
						<div id="profil-szerkesztes"><a href="{{ path('KekRozsakFrontBundle_profile_edit') }}">Profil szerkesztése</a></div>
					</div>
				</div>
{% else %}
				<div id="login-gomb">
					<span id="login-mutato">Bejelentkezés</span>
					<div id="login-box">
						<div id="login-belso">
							<form method="post" action="{{ path('KekRozsakSecurityBundle_login_check') }}">
								Felhasználónév: <input type="text" name="_username" /><br />
								Jelszó: <input type="password" name="_password" /><br />
								<button type="submit">Bejelentkezés</button>
							</form>
						</div>
					</div>
				</div>
{% endif %}
				<div id="search-box">
					<input type="text" />
					<button type="submit">Keresés</button>
				</div>
			</div>
			<div id="top-line-padding"></div>
		</div>
		<div id="wrapper">
			<div id="menu">
				<ul>
					<li><a href="{{ path('KekRozsakFrontBundle_homepage') }}">Főoldal - Aktuális</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'rolunk' }) }}">Rólunk</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_forum_main') }}">Fórum</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'a-magiarol-roviden' }) }}">A Mágiáról röviden</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'rendek' }) }}">Rendek</a></li>
					<li><a href="{{ path('KekRozsakFrontBundle_article', { articleSlug: 'a-regiek' }) }}">A régiek</a></li>
{% if app.user %}
					<li><a href="{{ path('KekRozsakSecurityBundle_logout') }}">Kijelentkezés</a></li>
{% else %}
					<li><a href="{{ path('KekRozsakSecurityBundle_registration') }}">Jelentkezés</a></li>
{% endif %}
				</ul>
			</div>
			<div id="header">
				<h1><a href="{{ path('KekRozsakFrontBundle_homepage') }}"><img src="{{ asset('images/kek_rozsak_felirat.jpg') }}" alt="Kék Rózsák" /></a></h1>
				<h2><img src="{{ asset('images/okkultista_kor_felirat.jpg') }}" alt="A Kék Rózsa okkultista kör honlapja" /></h2>
			</div>
			<div id="content-wrapper">
				<div id="content-outline">
					<div id="content">
{% block content %}{% endblock %}
					</div>
				</div>
				<div id="hirek">
					<h3>Hírek</h3>
{% for news in recentNews %}
					<div class="hir">
						<p class="hir-cim">{{ news.title }}</p>
						<p class="hir-szoveg">{{ news.text|raw }}</p>
{% if app.user %}
						<p class="hir-szerzo">{{ news.createdBy.displayName }}</p>
{% endif %}
						<p class="hir-datum">{{ news.createdAt|date('Y-m-d H:i') }}</p>
					</div>
{% endfor %}
				</div>
			</div>{# div#content-wrapper #}
		</div>{# div#wrapper #}
		<div id="bottom-line-wrapper">
			<div id="bottom-line-padding"></div>
			<div id="bottom-line"{% if app.environment == 'dev' %} style="bottom: 40px;"{% endif %}>
			</div>
		</div>
		<script type="text/javascript">
{% if app.user %}
			$('#profil-mutato').click(function() {
				if ($('#profil-box').is(':visible'))
				{
					$('#profil-box').hide();
				}
				else
				{
					$('#profil-box').show();
				}
			});
{% else %}
			$('#login-mutato').click(function() {
				if ($('#login-box').is(':visible'))
				{
					$('#login-box').hide();
				}
				else
				{
					$('#login-box').show();
				}
			});
{% endif %}
		</script>
{% block bottomscripts %}{% endblock %}
	</body>
</html>

